body {
    font-size: 15pt;
    background: linear-gradient(to right,#6FEABA,#66BDD4,#717CCF);
}
button{
  width: 45px;
  border-radius:50%;
  background: #D6E5FF;
}
#container{
  text-align: center;
  padding-top:19px;
  box-shadow: 8px 9px 10px #000,-4px -3px 20px 9px #fff;
  display: block;
  width:300px;
  /*height: 296px;*/
  margin-top: 20%;
  margin-left:10%;
}
table{
  margin: auto;
}
input{
  border-radius:10px;
  margin-bottom:5px;
  width:auto;
  text-align: center;
  color:#FA0000;
}
#btn{
  width: 200px;
  border-radius:10px;
}
header{
  background: #000;
}
h1{
  letter-spacing:5px;
  color:#fff;
  text-shadow: 4px 4px 10px  #00E9FF,-1px -1px 5px #00E9FF,-3px -3px 10px #00E9FF;
  
}
p{
  color:#FF0000;
  font-size: 25px;
  margin-bottom:0 2px 0 0;
  text-align: right;
}
footer{
  margin-top: 10%;
  color:#FFFFFF;
  background: #000;
  height: 200px;
  text-align: center;
}
#btn2{
  margin-bottom: 5px;
  background: #DCFFCE;
}
